In [1]:
#Importing Libraries
[1]
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt
#Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset ['train'].to_pandas()
#Data Cleanup
df ['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

d:\Program Files\anaconda\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df_DA_US = df[(df['job_title_short']=='Data Analyst') & (df['job_country']=='United States')].copy()

In [11]:
df_DA_US = df_DA_US.explode('job_skills')
df_DA_US[['salary_year_avg','job_skills']]

        salary_year_avg                                         job_skills
36                  NaN                                               None
68                  NaN                                      ['r', 'zoom']
73                  NaN         ['word', 'excel', 'powerpoint', 'outlook']
79                  NaN                    ['sas', 'sas', 'word', 'excel']
93                  NaN  ['oracle', 'azure', 'power bi', 'excel', 'word...
...                 ...                                                ...
785603              NaN          ['sql', 'vba', 'python', 'excel', 'flow']
785626              NaN                                ['microsoft teams']
785685              NaN                                   ['sql', 'excel']
785703              NaN                                               None
785705              NaN                       ['sql', 'python', 'tableau']

[67816 rows x 2 columns]

In [15]:
import ast

df_DA_US['job_skills'] = df_DA_US['job_skills'].apply(ast.literal_eval)

ValueError: malformed node or string: None

In [16]:
df_DA_US_group = df_DA_US.groupby('job_skills')['salary_year_avg'].agg(['count','median'])

In [18]:
df_DA_Top_Pay = df_DA_US_group.sort_values(by='median', ascending = False).head(1)
df_DA_Top_Pay

                                            count    median
job_skills
['vba', 'python', 'r', 'excel', 'tableau']      1  375000.0